---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = " WELCOME";

const identity = {
  firstName: "Nji kingsley Awah",
  country: "Poland",
  occupation: "Front-end developer",
  hobbies: ["Football", "Music"],
};

const skills = [
  {
    name: "HTML",
    icon: "/html-5.png",
  },

  {
    name: "CSS",
    icon: "/css.png",
  },

  {
    name: "JavaScript",
    icon: "/js.png",
  },

  {
    name: "Node.js",
    icon: "/nodejs.png",
  },

  {
    name: "Astro",
    icon: "/astro.png",
  },

  {
    name: "Ubuntu",
    icon: "/ubuntu.png",
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-box">
    <div class="intro-section p-4 ml-2">
      <p class="hi">Hi, I'm <span class="name">Kingsley</span></p>
      <h3 class="hi">front-end developer</h3>
      <h4>WELCOME TO MY SPACE</h4>
      <p class="intro-p">
        I am passionate about web development, I've mastered HTML, CSS, and JavaScript through hands-on learning. My journey includes exploring responsive design and modern frameworks.</p>
    </div>
      <div class="me">
        <img src="/pic.png" alt="my pic">
      </div>
      
  </div>

  <div id="about">
    <div class="pointer mt-1">
      <h1>About me</h1>
    </div>
    <div class="container">
      <div class="container-1 m-5 p7-1">
        <h2>Learn about me and my journey</h2>
        <p>I live in {identity.country} and I work as a {identity.occupation}.</p>
        {
          identity.hobbies.length >= 2 && (
            <p>
              Two of my hobbies are: {identity.hobbies[0]} and{" "}
              {identity.hobbies[1]}
            </p>
          )
        }
        <p class="details">Here are a few facts about me:</p>
        <p>
          👋 I love crafting user-friendly and visually appealing websites. 🚀
          Embracing a new life, I bring resilience and a fresh perspective to my
          work💡.
        </p>
      </div>
      <div class="container-3 mt-2 m-6 p7-1">
        <h2>skills</h2>
        <ul class="details-map">
          {
            skills.map((skill, index) => (
              <div>
                <img class="skill-icon" src={skill.icon} alt="images of icons" />
                <span>{skill.name}</span>
              </div>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div id="projects">
    <div class="container-parent">
      <div class="container-4 m-8">
        <h1>Projects</h1>
        <p class="container-p">
          Check out some projects that I have worked on.
        </p>
        <div class="container-projects">
          
          <div class="container-hover">
            <a href="https://learn-astro-l1i519heh-njiking.vercel.app/" class="container-link">
              <img
                class="container-image"
                src="/Astro blog.png"
                alt="first Astro blog image"
                width="300"
                height="250"
              />
              <div class="image-overlay"> 
                  <p class="image-name p-3">First Astro site</p>
              </div>
            </a>
          </div>


          <div class="container-hover">
            <a href="https://tictactoe-njiking.vercel.app/" class="container-link">
              <img
                class="container-image"
                src="/ttt.png"
                alt="tic tac toe game image"
                width="250"
                height="250"
              />
              <div class="image-overlay">
                <p class="image-name p-3">Tic tac toe game</p>
              </div>
            </a>
          </div>


          <div class="container-hover">
            <a href="https://quotes-generater.vercel.app/" class="container-link">
              <img
                class="container-image"
                src="/quotes.png"
                alt="Quote-generator site image"
                width="300"
                height="250"
              />
              <div class="image-overlay">
                <p class="image-name p-3">Quotes generator</p>
              </div>
            </a>
          </div>
          

          <div class="container-hover">
            <a href="https://king-password-gen87.vercel.app/" class="container-link">
              <img
                class="container-image"
                src="/password.png"
                alt="password-generator site image"
                width="450"
                height="350"
              />
              <div class="image-overlay">
                <p class="image-name p-3">Password generator</p>
              </div>
            </a>
          </div>



          
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <h1>Get in touch</h1>
    <div class="contact p-2 m-4">
      <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <form
          id="contactForm"
          class="space-y-4"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="7bc36f12-ba62-468a-bb0c-efda026c5e61"
          />

          <div class="input-details">
            <label for="name" class="text-gray-700">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Your Name"
              class="mt-1 mb-2 p-1 block w-full border-b border-gray-100 shadow-sm py-1 focus:outline-none focus:border-blue-500"
            />
          </div>

          <div class="input-details">
            <label for="email" class="text-gray-700">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Your Email"
              class="mt-1 mb-2 p-1 block w-full border-b border-gray-100 shadow-sm py-1 focus:outline-none focus:border-blue-500"
            />
          </div>

          <div class="input-details">
            <label for="phone" class="text-gray-700">Phone</label>
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="(123) 456-7890"
              class="mt-1 mb-2 p-1 block w-full border-b border-gray-100 shadow-sm py-1 focus:outline-none focus:border-blue-500"
            />
          </div>

          <div class="input-details">
            <label for="text" class="text-gray-700">Message</label>
            <input
              type="text"
              id="text"
              name="message"
              placeholder="Message"
              class="mt-1 mb-2 p-1 block w-full border-b border-gray-100 shadow-sm py-1 focus:outline-none focus:border-blue-500"
            />
          </div>

          <div class="submit mt-0 p-5">
            <button
              type="submit"
              class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 p-6">
              Submit Form
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <section class="contact-details pb-3">
    <h2>Contact Details</h2>
    <p>Feel free to reach out through any of the following:</p>
    <div class="tell m-6">
      <a class="phone" href="tel:+48698168694">
        <img class="phone-img" src="/phone.png" alt="Call me" />
      </a>
    </div>
  </section>

  <button id="scrollUpBtn"><img src="/up.png" alt="Scroll Up" /></button>
</BaseLayout>

<style>
  h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
  }

  h2 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: var(--secondary-color);
  }

  .container {
    display: block;
    gap: 5px;
    align-items: center;
  }

  .container-1 {
    flex: 1;
    overflow: auto;
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: 2px 2px 4px var(--shadow-color);
    background: var(--box-back);
    box-shadow: var(--box-shadow);
  }
  .container-3 {
    flex: 1;
    border-radius: 8px;
    text-shadow: 2px 2px 4px var(--shadow-color);
    background: var(--box-back);
    box-shadow: var(--box-shadow);
  }

  .container-parent {
    display: flex;
    flex-direction: row;
    min-height: 70vh;
  }

  .container-4 {
    flex-wrap: wrap;
    flex: 1;
    color: var(--primary-color);
  }

  .pointer {
    display: flex;
    justify-content: center;
  }

  .container-p {
    display: flex;
    justify-content: center;
  }

  .container-projects {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  .container-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 40px;
  }

  .container-links {
    display: block;
    text-align: center;
  }
  
  .details-map {
    display: flex;
    gap: 57px;
    flex: 1 1 45%;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
  }

  a {
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    max-height: 300px;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 4px var(--shadow-color);
  }
  .image-overlay{
    background-color: var(--accent-color);
    border-radius: 25px;
  }
  

  .skill-icon {
    display: block;
  }

  .phone {
    background: none;
    box-shadow: none;
  }

  .phone:hover {
    background: none;
    box-shadow: none;
  }
  .phone-img:hover {
    background-color: var(--secondary-color);
    border-radius: 50%;
  }

  @media screen and (min-width: 700px) {
    .details {
      color: var(--name-color);
      line-height: 1.3rem;
      font-size: 1rem;
      font-weight: bold;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    .container{
      display: flex;
      flex-direction: column;
    }


  .container-image {
    display: block;
    position: relative;
      }
    
        .container-hover {
        position: relative;
        display: inline-block; /* To maintain the image size */
        
        }

      .container-hover .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      background-color: var(--effect-h); /* Adjust the transparency as needed */
      transition: opacity 0.3s;
      border-radius: 20px;
        }

      .container-hover:hover .image-overlay {
      opacity: 1;
        }

    .container-hover:hover .container-image {
      opacity: 0.5; /* Adjust the transparency as needed */
      transform: scale(1.1);
    }

    .container-link {
      display: block;
      overflow: hidden; /* Ensure the overlay doesn't extend beyond the image */
    }

    .container-link img {
      display: block;
      transition: opacity 0.3s, transform 0.3s;
    }

    .image-name {
    font-size: 18px;
    border-radius: 10px;
    color: var(--primary-color); /* Adjust the text color as needed */
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
    }

    .container-3 {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      text-shadow: 2px 2px 4px var(--shadow-color);
      background: var(--box-back);
      box-shadow: var(--box-shadow);
    }
    
}
</style>